<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>41857021295-veo37bbnpga2htl3o1d4trtcfc5g61qa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41857021295-veo37bbnpga2htl3o1d4trtcfc5g61qa</string>
	<key>API_KEY</key>
	<string>AIzaSyCXf-Wg4ME75uaFRv_l7KmO1TS4sk8dSMc</string>
	<key>GCM_SENDER_ID</key>
	<string>41857021295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dena.Athletica</string>
	<key>PROJECT_ID</key>
	<string>athletica-732a5</string>
	<key>STORAGE_BUCKET</key>
	<string>athletica-732a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:41857021295:ios:18ff1b1f4574ac25</string>
	<key>DATABASE_URL</key>
	<string>https://athletica-732a5.firebaseio.com</string>
</dict>
</plist>